 {
   "parser": "@typescript-eslint/parser",
   "parserOptions": {
     "ecmaVersion": 12,
     "sourceType": "module"
   },
    "plugins": ["@typescript-eslint"],
   "extends": [
     "eslint:recommended",
     "plugin:@typescript-eslint/recommended",
     "plugin:import/errors",
     "plugin:import/warnings",
     "prettier"
   ],

   "rules": {
     "@typescript-eslint/no-unused-vars": 0,
     // to enforce using type for object type definitions, can be type or interface
     "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
     "@typescript-eslint/no-this-alias": "off",
     "@typescript-eslint/no-explicit-any": "off"
   },
   "env": {
     "node": true,
     "es2021": true
   }
 }
